@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,700;1,500;1,600&display=swap");

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  background: #111;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

footer {
  color: rgb(194, 194, 194);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-self: center;
}

footer a {
  text-decoration: none;
  margin: 0 5px;
  color: violet;
}

/* slides */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: transform 100ms;
}

@media only screen and (min-width: 769px) {
  .swiper-slide.swiper-slide-active:first-child {
    display: flex;
    align-items: center;
    transform: translateX(50%);
    z-index: 2;
  }
  .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(55%);
    z-index: 1;
  }
  .swiper-slide:nth-child(2n) {
    align-items: flex-end;
    margin-right: 0.1rem;
  }
  .swiper-slide:nth-child(2n + 1) {
    align-items: flex-start;
    margin-left: 0.1rem;
  }
  .swiper-slide:nth-child(2n + 1) img {
    box-shadow: 5px 5px rgba(74, 74, 74, 0.35);
  }
  .swiper-slide img {
    height: 100vh;
  }
}

/* navigation */
.swiper-pagination span {
  background: rgba(175, 175, 175, 0.5);
  color: rgb(37, 37, 37);
  font-weight: bold;
  padding: 2px;
  border-radius: 5px;
}

/* scrollbar */
.swiper-scrollbar {
  background-color: rgba(199, 199, 199, 0.474) !important;
  bottom: 0px !important;
}

.swiper-scrollbar-drag {
  background: rgb(0, 203, 200) !important;
}

/* loader */
.loader-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 2rem;
}

.loader-div h1{
  margin: 0;
}

.loader-div p {
  margin: 4rem 0;
  font-size: 0.8rem;
  color:violet;
  font-family: 'Inter', sans-serif;
}

.loader-div.hide {
  display: none;
}

body.hide {
  overflow: visible;
}

#loader-2 span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 35px 5px;
  background-color: #fad13e;
}

#loader-2 span:nth-child(1) {
  animation: bounce 1s ease-in-out infinite;
}

#loader-2 span:nth-child(2) {
  animation: bounce 1s ease-in-out 0.33s infinite;
}

#loader-2 span:nth-child(3) {
  animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce {
  0%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
